<div class="container">
<h1>Sign up!</h1>
<p>Prepare yourself for an abundance of free food!!!!</p>
<br>
<%= render 'form' %>
<small>By signing up, you agree to the <%= link_to "Terms and Conditions", waiver_path %></small>
<br><br>
<span class="btn"><%= link_to 'Back to the food', root_path %></span>
</div>
