<header class="navbar navbar-fixed-top"> 
  <div class="navbar-inner navbar-red">
   <div class="container">
   <nav>
     <ul class="nav">
       <li><%= image_tag("logo.png", size:"31x31") %>&nbsp;&nbsp;</li>
       <p id="logo"><%= link_to "Free Food!", root_path %></p>
       <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
       <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
       <% end %>
     </ul>
   </nav>
   </div>
  </div>
</header> 
