<header class="navbar navbar-fixed-top"> 
  <div class="navbar-inner navbar-red">
   <div class="container">
   <nav>
     <ul class="nav"><p id="logo"><%= link_to "Free Food!", root_path %></p>
     </ul>
   </nav>
   </div>
  </div>
</header> 
