<header class="navbar navbar-fixed-top"> 
  <div class="navbar-inner">
   <div class="container">
   <nav>
     <ul class="nav"><p id="logo">Free Food!</p>
       <li><%= link_to "Sign up", new_user_path %></li>
       <li><%= link_to "Sign in", new_session_path %></li>
     </ul>
   </nav>
   </div>
  </div>
</header> 
